<body class="text-center" style="margin:100px 30% 0px 30%;">

  <main class="form-signin w-100 m-auto" *ngIf="log===false">
      <h1 class="h3 mb-3 fw-normal">Log In</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" #emailRef>
        <label for="floatingInput"  >Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" #passwordRef>
        <label for="floatingPassword"  >Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          {{errore}}
        </label>
      </div>

      <div class="checkbox mb-3">
        <label>
          Non sei ancora registrato?
        <a routerLink="/registrazione">clicca qui</a>
      </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="onLogin(emailRef,passwordRef)">Log In</button>
      <p class="mt-5 mb-3 text-muted">© NoleggioAuto 2022</p>
  </main>

  <div *ngIf="log===true">
    <div class="d-flex align-items-center justify-content-center" style="margin-top: 100px;">
      <div class="text-center">
          <h1 class="display-1 fw-bold">Sei già loggato</h1>
          <p class="fs-3">
          <p class="lead">
              Vuoi noleggiare un'auto?
            </p>
            <a routerLink="/lista-auto"class="btn btn-primary">Vai Alla Lista di auto disponibili</a>
      </div>
    </div>
  </div>





  </body>
