<div class="container lead">
  <span  class="row">
    <div class="col">
      Auto disponibili :
    </div>
    <div class="col">
      Ordina per prezzo:
      <button style="margin-right: 20px; margin-left:10px;" class="btn btn-primary">Crescente</button>
      <button class="btn btn-secondary">Decrescente</button>
    </div>
  </span>
  <div class="col" *ngFor="let i of auto" style="margin-top: 20px;">
    <span class="row border rounded-top rounded-bottom" *ngIf="i.disponibile===true">
      <img src="{{i.immagine}}" class="col">
      <label class="col"> {{i.marca}} </label>
      <label class="col"> {{i.modello}} </label>
      <label class="col"> {{i.prezzo}}€ al giorno</label>
      <a class="col btn btn-success" routerLink="/lista-auto/{{i.autoid}}" >Vai alla descrizione</a>
    </span>
  </div>
  <div style="margin-top: 40px;">
    Auto non disponibili:
  </div>
  <div style="margin-bottom: 40px;">
  <div class="col" *ngFor="let i of auto" style="margin-top: 20px;">
    <span class="row border rounded-top rounded-bottom" *ngIf="i.disponibile===false">
      <img src="{{i.immagine}}" class="col">
      <label class="col"> {{i.marca}} </label>
      <label class="col"> {{i.modello}} </label>
      <label class="col"> {{i.prezzo}}€ al giorno</label>
      <a class="col btn btn-danger" routerLink="/lista-auto/{{i.autoid}}" >Vai alla descrizione</a>
    </span>
  </div>
</div>
</div>
