<div class="container" style="margin-top: 3%;">
  <div class="row">
  <div class="col">
    <p class="lead">
      Perché è redditizio noleggiare auto premium in NoleggioAuto? Come proprietari di auto, possiamo permetterci di offrire in affitto cabriolet,
      supercar e berline executive ai migliori prezzi di mercato con consegna in qualsiasi parte di Milano in breve tempo.
      Ogni anno aggiorniamo la nostra flotta e siamo pronti ad offrire solo i modelli più prestigiosi e nuovi del settore automobilistico globale.
      Parliamo 3 lingue (EN - FR - IT) e possiamo consigliarvi sulla macchina che fa per voi.
      Non vedi l'ora di sfrecciare per Milano con una delle nostre supercar? <a routerLink="/lista-auto"> Premi qui</a> per vedere tutte le auto a nostra disposizione!
      <br><br>
      Dove siamo? Guarda la mappa a destra e vieni a trovarci oppure <a routerLink="/contatti">Contattaci</a>, sapremo rispondere a qualsiasi tua domanda!
    </p>
  </div>
  <div class="col">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.3973739428725!2d9.184228615925777!3d45.50207877910141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c0d0c2c21bfb%3A0xa048196b762315b5!2sVia%20Benigno%20Crespi%2C%2030%2C%2020159%20Milano%20MI!5e0!3m2!1sit!2sit!4v1665692002563!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
</div>
